n8n/workflows/img-prompt-optimize.json
{
  "name": "img-prompt-optimize",
  "nodes": [
    {
      "id": "webhook_prompt_optimize",
      "name": "Webhook Prompt Optimize",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        80
      ],
      "parameters": {
        "path": "img-prompt-optimize",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "img-prompt-optimize"
    },
    {
      "id": "prepare_prompt_payload",
      "name": "Prepare Prompt Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        80
      ],
      "parameters": {
        "jsCode": "const body = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst prompt = String(body.prompt ?? '').trim();\nif (!prompt) {\n  throw new Error('Missing prompt');\n}\nconst negativePrompt = String(body.negativePrompt ?? body.negative_prompt ?? '').trim();\nconst mode = String(body.mode ?? 'text-to-image');\nconst model = String(body.model ?? 'gpt-5.5').trim() || 'gpt-5.5';\nconst systemPrompt = [\n  'You are a senior image prompt engineer.',\n  'Rewrite user prompts for text-to-image and image-to-image generation.',\n  'Output concise, detailed, production-ready prompts.',\n  'Keep safety-compliant language and avoid policy-violating requests.',\n  'Return plain text only without markdown.'\n].join(' ');\nconst userPrompt = [\n  'Task: optimize image generation prompt.',\n  'Mode: ' + mode,\n  'Original Prompt: ' + prompt,\n  negativePrompt ? 'Negative Prompt: ' + negativePrompt : ''\n].filter(Boolean).join('\\n');\nreturn [{\n  json: {\n    requestPayload: {\n      model,\n      stream: false,\n      input: [\n        {\n          role: 'system',\n          content: [{ type: 'input_text', text: systemPrompt }],\n        },\n        {\n          role: 'user',\n          content: [{ type: 'input_text', text: userPrompt }],\n        },\n      ],\n    },\n    originalPrompt: prompt,\n    originalNegativePrompt: negativePrompt,\n    mode,\n    model,\n  },\n}];"
      }
    },
    {
      "id": "call_asxs_responses_prompt",
      "name": "Call ASXS Responses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        80
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.asxs.top/v1/responses",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.requestPayload}}",
        "options": {
          "timeout": 120000
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi"
      },
      "continueOnFail": true
    },
    {
      "id": "format_prompt_output",
      "name": "Format Prompt Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        80
      ],
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\n\nif (payload && typeof payload === 'object') {\n  const upstreamError = payload.error || payload.errors || null;\n  if (upstreamError) {\n    const message = typeof upstreamError === 'string'\n      ? upstreamError\n      : typeof payload.message === 'string'\n        ? payload.message\n        : typeof upstreamError.message === 'string'\n          ? upstreamError.message\n          : JSON.stringify(upstreamError).slice(0, 2000);\n    return [{\n      json: {\n        ok: false,\n        status: 'upstream_error',\n        message,\n        raw: payload,\n      },\n    }];\n  }\n}\n\nconst candidates = [];\nconst seen = new Set();\nconst pushCandidate = (value) => {\n  if (typeof value !== 'string') return;\n  const text = value.trim();\n  if (!text) return;\n  if (seen.has(text)) return;\n  seen.add(text);\n  candidates.push(text);\n};\n\nif (Array.isArray(payload.output)) {\n  for (const item of payload.output) {\n    if (!item || typeof item !== 'object') continue;\n    if (!Array.isArray(item.content)) continue;\n    for (const part of item.content) {\n      if (!part || typeof part !== 'object') continue;\n      if (part.type === 'output_text') {\n        pushCandidate(part.text);\n      }\n    }\n  }\n}\n\nif (typeof payload.output_text === 'string') {\n  pushCandidate(payload.output_text);\n} else if (Array.isArray(payload.output_text)) {\n  for (const chunk of payload.output_text) {\n    if (typeof chunk === 'string') {\n      pushCandidate(chunk);\n      continue;\n    }\n    if (chunk && typeof chunk === 'object') {\n      pushCandidate(chunk.text);\n    }\n  }\n}\n\nconst walk = (node, path = '') => {\n  if (!node) return;\n\n  if (Array.isArray(node)) {\n    node.forEach((item, index) => walk(item, `${path}[${index}]`));\n    return;\n  }\n\n  if (typeof node !== 'object') return;\n\n  if (typeof node.text === 'string') {\n    const type = typeof node.type === 'string' ? node.type : '';\n    if (type === 'output_text' || /content|message|choice|result|response/i.test(path)) {\n      pushCandidate(node.text);\n    }\n  }\n\n  if (typeof node.output_text === 'string') {\n    pushCandidate(node.output_text);\n  }\n\n  const allowedKeys = new Set([\n    'output',\n    'content',\n    'message',\n    'messages',\n    'choices',\n    'parts',\n    'data',\n    'result',\n    'response',\n    'items',\n    'tool_outputs',\n    'output_text',\n  ]);\n\n  for (const [key, value] of Object.entries(node)) {\n    if (!allowedKeys.has(key)) continue;\n    walk(value, path ? `${path}.${key}` : key);\n  }\n};\n\nif (candidates.length === 0) {\n  walk(payload);\n}\n\nconst optimizedPrompt = (candidates.find((text) => text.length > 8) || candidates[0] || '').slice(0, 6000).trim();\nif (!optimizedPrompt) {\n  throw new Error('Responses API returned no optimization text.');\n}\n\nreturn [{\n  json: {\n    ok: true,\n    optimizedPrompt,\n    summary: optimizedPrompt.slice(0, 500),\n    raw: payload,\n  },\n}];"
      }
    }
  ],
  "connections": {
    "Webhook Prompt Optimize": {
      "main": [
        [
          {
            "node": "Prepare Prompt Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt Payload": {
      "main": [
        [
          {
            "node": "Call ASXS Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ASXS Responses": {
      "main": [
        [
          {
            "node": "Format Prompt Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-4000-9000-000000000001"
}
